body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #60a3bc !important;
}

.user_card {
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #f39c12;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}

.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: #60a3bc;
	padding: 10px;
	text-align: center;
}

.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}

.form_container {
	margin-top: 100px;
}

.login_btn {
	width: 100%;
	background: #c0392b !important;
	color: white !important;
}

.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background: #c0392b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #c0392b !important;
}

/* student info */
.contact {

	height: 400px;
}

#leftstrip {
	background: #ff9b00;
	padding: 4%;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

#SI1 {
	box-shadow: 0px 4px 8px 20px #25274d;
}

.contact-info {
	margin-top: 10%;
}

.contact-info img {
	margin-bottom: 15%;
}

.contact-info h2 {
	margin-bottom: 10%;
}

.col-md-9 {
	background: #fff;
	padding: 3%;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.contact-form label {
	font-weight: 600;
}

.contact-form button {
	background: #25274d;
	color: #fff;
	font-weight: 600;
	width: 25%;
}

.contact-form button:focus {
	box-shadow: none;
}

/*Navbar css*/
/*.navbar-nav>li {
	margin-right: 1em;
}*/
.navbar {
	margin: 0;

}

.navbar-brand {
	border: 4px solid #fff;
	margin-left: 30px;
	padding: 7px;
}

#nav-logo {
	float: left;
	width: 50px;
	border-radius: 50%;
	padding-top: 0;
}

#navbar-logo:hover {
	color: #00f7ff;
	border: 4px solid;
}

.navbar-icon-top .navbar-nav .nav-link>.fa {
	position: relative;
	width: 30px;
	font-size: 24px;
}

/* background image */
.bg {
	/* The image used */
	background-image: url("../img/background.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.content {
	min-height: 100%;
}

#profile-heading {
	border: 2px solid lightgreen;
	color: cyan;
	box-shadow: darkcyan;
	width: 200px;
	border-radius: 50%;
	padding: 20px;
	background-color: maroon;
	margin-left:35%;
}

#table-td {
	color: lightseagreen;
}

/*-- footer --*/

#footer-logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: 0;
}

.footer {
	color: rgb(180, 179, 179);
	position: relative;
	padding: 20px;
	height: 250px;
	background-color: #343a40;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}

/*designed lately but good*/
.content {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header {
	height: 84px;
	flex-shrink: 0;
}

footer {
	height: 50px;
	flex-shrink: 0;
	background-color: #134c7d;
}

.links a {
	padding-left: 10px;
	color: rgb(180, 179, 179);
}

.links a:hover {
	color: #fff;
	text-decoration: none;
}

.row h3 {
	color: white;
	font-size: 30px;
	padding-bottom: 15px;
}


/*Navbar media query*/
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@media (min-width: 576px) {
	.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
		text-align: center;
		display: table-cell;
		height: 70px;
		vertical-align: middle;
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link>.fa {
		display: block;
		width: 48px;
		margin: 2px auto 4px auto;
		top: 0;
		line-height: 24px;
	}

	.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link>.fa>.badge {
		top: -7px;
	}
}

@media (min-width: 768px) {
	.navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
		text-align: center;
		display: table-cell;
		height: 70px;
		vertical-align: middle;
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-icon-top.navbar-expand-md .navbar-nav .nav-link>.fa {
		display: block;
		width: 48px;
		margin: 2px auto 4px auto;
		top: 0;
		line-height: 24px;
	}

	.navbar-icon-top.navbar-expand-md .navbar-nav .nav-link>.fa>.badge {
		top: -7px;
	}
}

@media (min-width: 992px) {
	.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
		text-align: center;
		display: table-cell;
		height: 70px;
		vertical-align: middle;
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fa {
		display: block;
		width: 48px;
		margin: 2px auto 4px auto;
		top: 0;
		line-height: 24px;
	}

	.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fa>.badge {
		top: -7px;
	}
}

@media (min-width: 1200px) {
	.navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
		text-align: center;
		display: table-cell;
		height: 70px;
		vertical-align: middle;
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link>.fa {
		display: block;
		width: 48px;
		margin: 2px auto 4px auto;
		top: 0;
		line-height: 24px;
	}
}

/*footer media query**/



@media(max-width: 991px) {

	.footer-logo a.navbar-brand {
		font-size: 2.5em;
	}
}


@media(max-width:768px) {
	.footer-logo a.navbar-brand {
		font-size: 2.5em;
		line-height: 40px;
	}

}

@media(max-width: 736px) {
	.cd-radial-slider-content .wrapper>div {
		padding: 11em 7em 0;
	}

	.agile-dish-caption h4 {
		font-size: 24px;
		margin: 0.5em 0;
	}

	.agileits_w3layouts-copyright p:after {
		bottom: -20%;
	}

	.w3_agile_stats_grid h4:after {
		bottom: -50%;
	}

	.bottom-grids h3 {
		font-size: 20px;
	}

	.bottom-grid2 h4 {
		font-size: 30px;
		width: 200px;
		height: 200px;
		line-height: 200px;
	}

	.view {
		min-height: 265px;
	}

	.content_left h2:after {
		left: 13.5%;
	}

	.b-search {
		width: 70%;
	}

	iframe {
		height: 250px;
	}

	.contact-grids .col-lg-4.col-md-6.pl-0,
	.contact-grids .col-lg-8.col-md-6.pr-0 {
		padding: 0 !important;
	}
}

@media(max-width: 667px) {
	.cd-radial-slider-content .wrapper>div {
		padding: 10em 5em 0;
	}

	.cd-radial-slider-content h2,
	.cd-radial-slider-content h3 {
		letter-spacing: 6px;
		font-size: 1.8em;
	}

	.agile_count_grid_left span,
	.agile_count_grid_right p {
		font-size: 2.5em;
	}

	.inner-page-banner {
		height: 30vw;
	}

	.view img {
		min-height: 265px;
	}

	.blog_info h5 a {
		font-size: 19px;
		letter-spacing: 1px;
	}
}

@media(max-width: 640px) {
	.agile_text_box h3 {
		font-size: 18px;
		margin: .8em 0;
		letter-spacing: 2px;
	}

	.banner_bottom_right_grid i {
		font-size: 1.5em;
	}
}

@media(max-width: 600px) {
	.cd-radial-slider-navigation i {
		margin-top: 1em;
		margin-left: 1em;
	}

	.agile_count_grid_left span,
	.agile_count_grid_right p {
		font-size: 2em;
	}

	.banner_bottom_agile_grids {
		width: 80%;
		margin: 0 auto;
	}
}

@media(max-width: 568px) {
	.navbar-light .navbar-brand {
		font-size: 2em;
		line-height: 30px;
	}

	.nav-link {
		padding: 0.3rem 1rem;
	}
}

@media(max-width:480px) {
	.footer-logo a.navbar-brand {
		font-size: 2em;
		line-height: 33px;
		border: 2px solid #fff;
	}

	.footer-nav li {
		margin: 0px .5em;
	}

	ul.footer-nav li a {
		font-size: 17px;
		letter-spacing: 1px;
	}
}

@media(max-width:414px) {
	footer:after {
		left: 15px;
		right: 15px;
		bottom: 15px;
		top: 15px;
	}
}